*{
    color:blue;
    font-family:'Roboto', sans-serif;
}
section{
    width: 500px;
  border: 15px solid green;
  padding: 50px;
  margin-top: 20px;
  margin: 20px;
}

h1{ /*titulo principal*/
    width:auto;
    border:1px solid purple;
    margin: 4px 8px 4px 8px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    color: red;
    text-align: center;
    
}

ul{
    margin: 25px;
    border: 3px solid blue;
}

li{
    text-decoration: blueviolet;
    text-size-adjust: 25;
}